.chat-container{
  width:75%;
  height: 85vh;
  background-color: #f9f9fa;
}

.chat-events{
  width:100%;
  display:flex;
  justify-content: space-between;
  margin-bottom:.5em
}

.chat-bar{
  height:10vh;
  width:100%;
  display:flex;
  align-items: flex-end; 
}

.chat-bar form{
  width:100%;
}

.chat-bar input{
  border: 2px solid black;
  box-sizing: border-box;
  width:100%;
  font-size: 1.5em;
  padding:15px;
  margin-top:auto;
}

.chat-title{
  height:10vh;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.chat-title h2{
margin:0;
width:70%;
text-align: left;
}

.chat-title-images{
  width:25%;
  text-align:right;
}

.chat-title-images img{
  width:80%;
  cursor: pointer;
}

.events-container{
  width:25%;
}

.events{
  min-height:55vh;
  overflow:scroll;
}

.chat-window{
  height:65vh;
  overflow:scroll;
  width: 72%;
}

.chat-post{

  border-radius: 11.5px;
  border: solid 0.5px #52575c;
  margin: .2em auto;
  background-color: #ffffff;
}

.chat-post-flex{
  display:flex;
  justify-content:left;
}

.chat-post-image{
  width:15%;
  height:95%;
  margin-right: 1em;
  margin-top: .18em;
  margin-left: .28em;
}

.chat-post-image img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 100%;
}

.chat-post-post h6{
 margin-bottom:1em;
 margin-top:2.5em;
 font-size: 1em;
}

.chat-event-event{
  border-radius: 6.5px;
  border: solid 0.5px #52575c;
  text-align:left;
  width:95%;
  margin: .5em auto;
  padding-bottom: .5em;
}

.chat-event-event h4{
  margin-left: .5em;
  margin-bottom: .2em;
  margin-top:.8em
}

.chat-event-event h5{
  margin-left: .5em;
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: 300;
}


.chat-event-event a{
  color: #5496ff;
  margin-left: .5em;
  margin-bottom: .3em
}

.chat-event-event-link:hover{
  border:1px solid gray;
  height:auto;
  overflow: visible;
  overflow-wrap: break-word;
  transition: height 2s;
  background-color:lightblue
}

.chat-post-post-content{
  text-align: left;
  margin-left:1em
}

.chat-post-post{
  text-align:left
}

.chat-post-post p{
  font-size: .8em;
  margin:0
}

#event-add{
  height:10vh;
  justify-content: center;
  display:flex;
  align-items: center;
  padding:0;
  margin: 0;
}

#event-add img{
  height: 90%;
  cursor: pointer;
}