.create-group{
  position: absolute;
  z-index: 2;
  width: 50%;
  left: 25%;
  background-color: #ffffff;
  top: 8%;
  border: 1px solid #7a96c3;
}

.create-group h4{
  font-family: helvetica;
  margin: .5em 0;
}

.create-group span{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-weight: bold;
}

.create-group-header{
  background-color: #7a96c3;
  padding: 1em;
  border: .5px solid #707070;
}

.create-group-header h2{
  margin: 0;
  color: white;
}

.create-group-people-people{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.create-group-people-person{
  position: relative;
}

.create-group-people-person p{
  position: absolute;
  top: 0;
  right: 0;
}

.create-group .add-button{
  width: 100px;
  border-radius: 3px;
  border: solid 0.5px #707070;
  background-color: #ffffff;
  cursor: pointer;
}

.create-group-set{
  width: 90%;
  margin: auto;
  text-align: left
}

.create-group-set input{
  width: 100%;
  border: 1px solid #7a96c3;
  padding: .6em;
  font-size: 1em;
}

.create-group button{
  padding: .6em;
  border: .3px solid #ababab;
  background-color: #7a96c3;
  width: 152.3px;
  margin: 1em 0;
  cursor: pointer;
  font-size: 1em;
  color: black;
  border-radius: 7px;
  outline: none;
}

.create-group button:hover {
  border: 2px solid red; 
}

.create-group button:active {
  font-weight: bold;
  box-shadow: 5px 10px 8px #888888;
  text-shadow: 2px 2px 4px #000000;
}

