.groups-layout {
  background: #F9F9FA 0% 0% no-repeat padding-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  width: 60%;
  margin:0 auto
}

.group-cards-container {
  margin: 1em auto;
  width:60%
}

.group-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  font-size: 1.2em;
  border-radius: 6%;
  height: 18.75em;
  width: 9.06em;
  border: 3px solid #5E8CA9;
  font-family: 'Helvetica Neue';
  font-weight: bold;
}

.group-card button{
  width: 67.5%;
  border-radius: 7px;
  text-align: center;
  align-self: center;
  border: .5px solid #0000001A;
  background-color: #5496FF;
  color: white;
  font-family: 'Helvetica Neue';
  font-size: .9em;
  padding: .2em;
  outline: none;
}

.group-card button:hover {
  border: 2px solid red;
}

.group-card button:active {
  font-weight: bold;
  box-shadow: 5px 10px 8px #888888;
  text-shadow: 2px 2px 4px #000000; 
}

.group-card h3 {
  margin-top: -1em;
}

.new-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.2em;
  border-radius: 6%;
  height: 18.75em;
  width: 9.06em;
  border: 3px solid #5E8CA9;
  margin: 1.5em auto;
  font-family: 'Helvetica Neue';
  font-weight: bold;
  background-color: white;
}

.new-group img{
  width: 80%;
  align-self: center;
  cursor: pointer;
}

.new-group img:active {
  border: 1px solid red;
  border-radius: 50%;
  box-shadow: 5px 10px 8px #888888;
  text-shadow: 2px 2px 4px #000000; 
}

.new-group h4{
  font-size: 1.3em;
  padding-bottom: .5em;
}

.new-group a{
  color: black;
  text-decoration: none;
}

.progress-circle {
  position: relative;
  font-size: 1.3em;
  margin: 20px;
  padding: 0;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  line-height: 5em;
  background-color: #B1E9A3; 
  font-family: 'Helvetica Neue';
  align-self: center;
}
/*
.progress-circle:after{
  border: none;
  position: absolute;
  top: 0.35em;
  left: 0.35em;
  text-align: center;
  display: block;
  border-radius: 50%;
  width: 4.3em;
  height: 4.3em;
  background-color: white;
  content: " ";
}

.progress-circle span {
  position: absolute;
  line-height: 5em;
  text-align: center;
  display: block;
  color: #53777A;
  z-index: 2;
}
*/
/* when p>50, don't clip left half*/
.progress-circle .over50 .left-half-clipper {
  clip: rect(auto,auto,auto,auto);
}

.value-bar {
  /*This is an overlayed square, that is made round with the border radius,
  then it is cut to display only the left half, then rotated clockwise
  to escape the outer clipping path.*/ 
  position: absolute; /*needed for clipping*/
  clip: rect(0, 2.5em, 5em, 0);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 0.45em solid #53777A; /*The border is 0.35 but making it larger removes visual artifacts */
  /*background-color: #4D642D;*/ /* for debug */
  box-sizing: border-box;
}

/* Progress bar filling the whole right half for values above 50% */
.progress-circle .over50 .first50-bar {
  /*Progress bar for the first 50%, filling the whole right half*/
  position: absolute; /*needed for clipping*/
  clip: rect(0, 5em, 5em, 2.5em);
  background-color: #53777A;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}





