.one-group {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 2em;
  height: 18vh;
  width: 18%;
  border: 2px solid black;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1.5%;
}

.group-scroll {
  display: block;
  overflow: scroll;
  
}

.one-group img{
  height: 15vh;
  justify-self: center;
  margin-top: 1em;
}

.one-group h3{
  justify-self: center;
  margin-top: 3em;
}

