#header {
  background-color: gray;
  height: 10vh;
  display: flex;
  flex-direction: row;
}

#search-bar {
  height: 2vh;
  margin-left: 30vw;
  margin-top: 2.5vh; 
}

#user-section {
  display: flex;
  flex-direction: row;
  padding: 2vh 2.5vw;
}

#header-image {
  height: 7vh;
  width: 7vw;
  border-radius: 50% ;
  border: 1px solid white;
}

div.dropdown {
  padding-top: 1.5vh;
  margin-left: 5px;
}

#user-title {
  margin: 0px;
}

div.dropdown-menu.show {
  background-color: beige;
  display:flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid black;
  
}

div.dropdown-menu.show a {
  text-decoration: none;
  color: black;
  margin: 2px;
}

/* pop up profile */
div.fade.modal.show {
  width: 70vw;
  border: 2px solid black;
  margin-left: 10vh;
}

div.modal-header {
  height: 10vh;
  background-color: ivory;
}
#email-column {
margin: 5px;
}

#email-column h4 {
margin: 0px;
}

#email-column p {
  margin: 0px;
}

#phone-column {
  margin: 5px;
}

#phone-column h4 {
  margin: 5px;
}

#phone-column p {
  margin: 0px;
}

#pop-up-profile-contact-bar {
  display: flex;
  flex-direction: row;
}

#pop-up-profile-character-area { 
  text-align: center;
}

div.modal-footer {
  text-align: center;
}