#header {
  background-color: rgb(116, 150, 199);
  height: 10vh;
  display: flex;
  flex-direction: row;
}

#search-bar {
  height: 2vh;
  position: absolute;
  top: 4vh;
  right: 2vw;
}

#user-section {
  display: flex;
  flex-direction: row;
  padding: 2vh 2.5vw;
}

#header-image {
  height: 5vh;
  width: 2.5vw;
  border-radius: 50%;
  border: 1px solid white;
}

div.dropdown {
  padding-top: 1.5vh;
  margin-left: 5px;
}

#user-title {
  margin: 0px;
}

div.dropdown-menu.show {
  background-color: beige;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid black;
}

div.dropdown-menu.show a {
  text-decoration: none;
  color: black;
  margin: 2px;
}

