.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}

.content-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #F9F9FA 0% 0% no-repeat padding-box;
  width: 36%;
  height: 40vh;
  margin: 0 auto;
}

p{
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-size: 3em;
  color: #537898;
  height: 3vh;
}

.login-btn button{
  background-color: #7A96C3;
  font-size: 2em;
  font-weight: medium;
  font-family: 'Helvetica Neue';
  color:white;
  border: .5px;
  border-radius: 7px;
  width: 15%;
}

.login-btn button:hover{
  border: 2px solid red;
}

 .login-btn a{
  text-decoration: none;
  height: 3vh;
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -6%;
}

