/* pop up profile */
#pop-up-profile {
  width: 30vw;
  height: 80vh;
  border: .5px solid black;
  margin-left: 10vh;
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: 10;
  background-color: white;
  transition: all 0.3s ease-out;
}

div.modal-header {
  height: 20vh;
  display: flex;
  flex-direction: row;
}

#pop-up-hero-image {
  width: 30vw;
}

#profile-image {
 position: relative;
 top: 10vh;
 left: -31.4vw
}

#pop-up-profile .progress-circle span img {
  position:absolute;
  left: 9.4px;
  top: 7px;
  height:4.27em;
  width:4.27em;
  border-radius: 100%;
  object-fit: cover;
}

#profile-title-bar {
  background-color: gray;
  height: 5vh;
  width: 40vw;
  position: relative;
  top: 6vh;
  z-index: 15;
}

#profile-title-info {
  margin: 13vh 60vw 0vh 0vw;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 16;
}

#username {
  font-size: 2em;
position: absolute;
top: -1.8vh;
left: -32vw;
}

#job-title {
  position: absolute;
  top: 3vh;
  left: -22vw;
  font-size: 0.8em;
}

#email-column {
  margin: 1vh 2vw 0px 7vw;
}

#email {
  position: absolute;
  top: 130px;
  left: 110px;
}

#phone-number {
  margin: 1.2vh 5vw 0vh 0vw;
}

#icon-column {
  position: absolute;
  top: 20vh;
  left: 21vw;
  display: flex;
  flex-direction: row;
}

#pop-up-weather-icon {
  position: absolute;
  top: -3vh;
  left: 3vw;
}

#phone-column h4 {
  margin: 5px;
}

#phone-column p {
  margin: 0px;
}

#pop-up-profile-contact-bar {
  display: flex;
  flex-direction: row;
}

#pop-up-profile-character-area {
  text-align: center;
}

#groups-title {
  position: absolute;
  left: 1vw;
  font-weight: lighter;
}

#group-area {
  display: flex;
  flex-direction: row;
  padding: 0vh 7vw 0vh 0vw;
  position: absolute;
  top: 37vh;
}

.group-column {
  margin: 1vh .5vw;
}

.group-picture {
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
}

#interest-title {
  position: relative;
  top: 26vh;
  left: -10vw;
  font-weight: lighter;
}

#interest-area {
  position: absolute;
  top: 60vh;
  left:2vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .1fr 0.1fr;
  gap: 1px 20px;
  grid-template-areas: ". . . ." ". . . .";
}

.pop-up-interest-box {
  width: 5.5vw;
  border: 2px solid gray;
  font-size: .5em;
  font-weight: 200;
}

.pop-up-interest-box:hover {
  border: 2px solid green;
}

#pop-up-message-button {
  width: 8.5vw;
background-color: rgb(116, 150, 199);
position: absolute;
top: 75vh;
left: 10vw;
}

div.modal-footer {
  text-align: center;
}
