.selector{
  width: 20%;
  text-align: center;
  height: 90vh;
  overflow:scroll;
  border-bottom: 1px solid black
}

.selector-content{
 border: 1px solid black;
 height:100%;
 overflow:scroll
}

.selector-members{
  display:flex;
  justify-content: space-evenly;
  margin-top: 1em;
  margin-bottom: .5em;
}

.selector-member-images{
  width:30%;
  display:flex;
  align-items: center;
}

.selector-member-images img{
  width:100%;
  border-radius: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.selector-member-info{
  width: 60%;
}

.selector-groups{
  display:flex;
  justify-content: space-evenly;
  margin-top: 1em;
  margin-bottom: .5em;

}

.selector-group-images{
  width:30%;
  display:flex;
  align-items: center;
}

.selector-group-images img{
  width:100%;
  border-radius: 10%;
  margin: 0 auto;
  object-fit: cover;
}

.selector-group-info{
  width: 60%;
}